<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration link</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<div class="wrapper">
    <h1>Hello!</h1>
    <p style="font-size: medium">
        You are receiving this email because an account has been created for this email address. To complete the registration, please enter the following link.
    </p>

    <div class="container text-center">
        <a href="http://localhost:8090/register" style="font-size: medium">
            Register
        </a>
    </div>
</div>
</body>
</html>